<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildlife Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="app">
    <!-- Sidebar -->
    <div class="side">
        <img src="{{ url_for('static', filename='assets/Monash_University_logo.svg') }}" alt="Button 1">
        <div class="sidebar">
            <div class="logo"></div>
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
        </div>
    </div>

    <!-- Main content -->
    <div class="main">

        <div class="col_1">
            <div class="box big">
                <img class="video"src="{{ url_for('video_feed') }}"/>

                <div class="col_2">
                    
                    <button class="img-btn" id="screenshotBtn">
                        <img src="{{ url_for('static', filename='assets/ss_button.png') }}" alt="Button 1">
                    </button>

                    <button class="img-btn" id="recordBtn">
                        <img id="recordImg" src="{{ url_for('static', filename='assets/record_button.png') }}" alt="Record">
                    </button>
                </div>
            </div>
        </div>



        <div class="col_3">
            <div class="box right-top">
                <h2>Sightings</h2>
            </div>
            <div class="box bottom-right">
                <h2>Status </h2>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    const recordBtn = document.getElementById("recordBtn");
    const recordImg = document.getElementById("recordImg");

    let recording = false; 

    document.getElementById("recordBtn").addEventListener("click", () => {
        fetch("/record")
        .then(response => response.json())
        .then(data => {
            console.log("Recording status:", data.recording);
        })
        .catch(err => console.error(err));

        recording = !recording; // toggle
        if (recording) {
            recordImg.src = "{{ url_for('static', filename='assets/stop_record_button.png') }}";
            recordImg.alt = "Stop";
        } else {
            recordImg.src = "{{ url_for('static', filename='assets/record_button.png') }}";
            recordImg.alt = "Record";
        }
    });

        document.getElementById("screenshotBtn").addEventListener("click", () => {
        fetch("/screenshot")
        .then(response => response.json())
        .then(data => {
            console.log("Recording status:", data.recording);
        })
        .catch(err => console.error(err));
    });
    </script>
</html>
